.background{
  color: white;
background-image:url(background.jpg);
margin-bottom: 3%;
margin-top: -2%;
}
.ultimate {
  color: blue;
}
.grey {
  background-color: grey;
  margin: 3% 0;
}
.black {
  color: white;
  background-color: black;
  margin-top: 3%;
}
.client {
  margin: 3% 0;
}
.logo {
  margin: 3% 0;
}
